* {
    margin:0;
    padding:0;
}

#library{
    display: none;
    height: 100vh;
    width: fit-content;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    background-color: rgb(217, 217, 217);
}

button{
    padding: 10px 16px;
}

.book_cards{
    background-color: rgb(243, 243, 243);
    width:300px;
    height: 200px;
    margin: 16px;
    white-space: pre-line;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 2px 12px rgb(0,0,0);
}