* {
    margin:0;
    padding:0;
}

#library{
    /* display: none; this is the final one here, testing stylings otherwise*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto-fit,1fr);

    background-color: rgb(217, 217, 217);
}

.book_cards{
    background-color: rgb(243, 243, 243);
    width:300px;
    height: 200px;
    white-space: pre-line;
}